<nav class="navbar">
	<div class="navbar-inner">
		<span class="navbar-brand">CinémaDB</span>
		<ul class="navbar-links">
			<li><a href="/" class="nav-link {{ 'active' if request.path == '/' }}">Home</a></li>
			<li><a href="/neo4j" class="nav-link {{ 'active' if request.path == '/neo4j' }}">Neo4j</a></li>
			<li><a href="/transversal" class="nav-link {{ 'active' if request.path == '/transversal' }}">Transversal</a></li>
			<li><a href="/edit" class="nav-link {{ 'active' if request.path == '/edit' }}">Modifications</a></li>
		</ul>
	</div>
</nav>
